.add {
  background-color: red ;
  color: white;
}

.delete {
  background-color: red;
  color: white;
}

.celek {
  
  border: 2px solid black;
  width: 300px;
  margin-left: 550px;
  justify-content: center;
}

.obsah {
  justify-content: center;
}